*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
'Playwrite PE' for the text and 
font 'Roboto' for the buttons –  */

:root {
    --blueColor-BG: #314584;
    --buttonColor-Primary: #ff3946;
    --buttonColor-Contact: #f0f0f0;
    --barColor: #e9eaea;
}

html {
    max-width: 1400px;
    ;
}

body {
    font-family: 'Playwrite PE', sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
}


/* Header Section */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem 0.5rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: white;
}

.header.scrolled {
    background-color: white;
}


.header .group {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header .group .buttonContact {
   padding: 1rem 1.5rem;
    border: 1.25px solid red;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: hover 0.3s smooth;
    background-color: var(--buttonColor-Contact);
    color:var(--blueColor-BG)
}

.header .list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header .list .item:first-child a{
    color:red;
}

.header a {
    text-decoration: none;
    color: var(--blueColor-BG);
    font-family: sans-serif;
    font-weight: bold;
}


/*Main Section*/

/* Spirit */
.spirit {
    margin: 10rem 1rem 1rem 1rem;
    padding: 1rem;
    background-color: white;
}

.spirit .group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.spirit .group .context {
    flex: 1 1 50%;
    padding: 1rem;
}

.spirit .group .context .title {
    font-size: 3rem;
    color: var(--blueColor-BG);
    margin-bottom: 0.5rem;
}

.spirit .group .context .text {
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.spirit .group .context .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.spirit .group .context .buttons .button {
    padding: 1rem 1rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 6px 18px rgba(8, 11, 20, 0.18);
    transition: box-shadow 200ms ease, transform 120ms ease;
    will-change: box-shadow, transform;
    transition: hover 0.3s smooth;
}

.spirit .group .context .buttons .button:hover {
    background-color: black;
    color: white
}

.primary {
    background-color: var(--buttonColor-Primary);
    color: white;
}

.spirit .group .image {
    flex: 1 1 50%;
    padding: 1rem;
    width: 60%;
}

/*Design*/
.design {
    margin: 0;
    padding: 0 0.5rem;
    background-color: white;
}

.design .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.5px solid var(--barColor);
    box-shadow:
        6px 0 12px -6px rgba(91, 93, 98, 0.15),
        0 6px 12px -6px rgba(91, 93, 98, 0.15);
}

.design .group .image {
    flex: 1 1 50%;
    padding: 1rem;
    width: 40%;
}

.design .group .context {
    flex: 1 1 50%;
    padding: 1rem;
    text-align: center;
}

.design .group .context .title {
    font-size: 2rem;
    color: var(--blueColor-BG);
}

.design .group .context .text {
    font-size: 0.6rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--blueColor-BG);
}

/*Develop*/
.develop {
    margin: 0;
    padding: 0 0.5rem;
    background-color: white;
}

.develop .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 0.5px solid var(--barColor);
    box-shadow:
        6px 0 12px -6px rgba(91, 93, 98, 0.15),
        0 6px 12px -6px rgba(91, 93, 98, 0.15);
}

.develop .group .image {
    flex: 1 1 50%;
    padding: 1rem;
    width: 40%;
}

.develop .group .context {
    flex: 1 1 50%;
    padding: 1rem;
    text-align: center;
}

.develop .group .context .title {
    font-size: 2rem;
    color: var(--blueColor-BG);
}

.develop .group .context .text {
    font-size: 0.6rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--blueColor-BG);
}

/*About*/
.about {
    margin: 0;
    padding: 0 0.5rem;
    background-color: white;
}

.about .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about .group .image {
    flex: 1 1 50%;
    padding: 1rem;
    width: 40%;
}

.about .group .context {
    flex: 1 1 50%;
    padding: 1rem;
    text-align: center;
}

.about .group .context .redTitle {
    font-size: 0.75rem;
    color: red;
}

.about .group .context .title {
    font-size: 2rem;
    color: var(--blueColor-BG);
}

.about .group .context .text {
    font-size: 0.6rem;
    margin: 1.5rem auto 0.5rem;
    color: var(--blueColor-BG);
    width: 50%;
    text-align: center;
}

/*Contact*/
.contact {
    margin: 0;
    padding: 0 0.5rem;
    background-color: white;
}

.contact .group .context {
    flex: 1 1 50%;
    padding: 1rem;
    text-align: center;
}

.contact .group .context .redTitle {
    font-size: 0.75rem;
    color: red;
}

.contact .group .context .title {
    font-size: 2rem;
    color: var(--blueColor-BG);
}


.contact .group .form {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    color: white;
}


.contact .group .form input,
.contact .group .form textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.75rem;
    border: 2px solid white;
    border-radius: 12px;
    background-color: var(--blueColor-BG);
    color: white;
    font-size: 12px;
    font-family: 'Playwrite PE', sans-serif;

}

.contact .group .form input::placeholder,
.contact .group .form textarea::placeholder {
    color: white;
}

.contact .group .form textarea {
    resize: vertical;
    min-height: 100px;
}


/*Footer*/
.footer {
    margin: 0;
    padding: 1rem;
    background-color: var(--blueColor-BG);
    text-align: center;
    color: white;
    border-bottom: 10px solid white;
}

.footer .list {
    font-family: sans-serif ;
    font-size: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.footer .list a{
    color: white;
    text-decoration: none;
}

.footer .copyright{
    font-size: 10px;
}

/*Bubble bar*/

.bubbleLeft {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    /* Ensure it's above other sections */
}

.bubbleLeft .image {
    width: 20%;
    position: absolute;
    left: -50px;
    top: -110px;
    /* Adjust as needed to overlap previous section */
    z-index: 2;
}

.bubbleRigth {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    /* Ensure it's above other sections */
}

.bubbleRigth .image {
    width: 20%;
    position: absolute;
    right: -50px;
    top: -110px;
    /* Adjust as needed to overlap previous section */
    z-index: 2;
}