*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.card {
    background-color: white;
    width: 350px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.card h4 {
    font-size: 15px;
    color: #333;
}

.card p {
    font-size: 13px;
    line-height: 1.5;
    color: #555;
    text-align: justify;
    padding: 10px;
}

.card-footer {
    display: flex;
    flex-direction: column;   /* stack children vertically */
    align-items: flex-start;  /* align text to the left */
}

.card-footer a {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 11px;
}

.card-footer a:hover {
    text-decoration: underline;
}