@font-face {
  font-family: 'Amore Christmas'; 
  src: url('Amore\ Christmas.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal;
}
body {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#e6e6e6, #bbbbbb);
  background-position: 0% 90%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: 'Amore Christmas';
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 29px;
  padding-top: 80px;
}

body > h1 {
  color: #ffffff;
  text-shadow: #000000 3px 3px;
  margin: 0;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 10px;
}

#form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 135px;
  box-shadow: 10px 14px 28px rgb(0, 0, 0), 10px 10px 30px rgba(0, 0, 0, 0.22);
  margin-top: -60px;
background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(3px); 
border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#form {
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form > h1 {
  padding: 4px;
  margin-top: -0.3em;
  color: #ffffff;
  text-shadow: #000000 2px 2px;
}

label {
  margin-top: 4px;
  color: #000000;
  text-shadow: #ffffff 1px 1px;
  font-weight: bold;
  font-size: 22px;
}
#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#form #add-present,
#edit-present {
background: rgb(194, 9, 9);
font-family: "Mountains of Christmas", serif;
  padding: 5px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Amore Christmas';
}

#form #edit-present:disabled {
  background-color: #bbbbbb;
  color: #000000;
}

#form #add-present:disabled {
  background-color: #bbbbbb;
  color: #000000;

}

#form #add-present:hover {
  scale: 1.1;
}

#form #edit-present:hover{
  scale: 1.1;
}

#form input {
  width: 130px;
}

.gift-box .change-btn,
.gift-box .delete-btn {
  display: inline-block;
  background: rgb(194, 9, 9);
  width: 70px;
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  font-family: 'Amore Christmas';
}

button {
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.change-btn:hover,
.delete-btn:hover {
 scale: 1.3;
}

#load-presents {
font-family: 'Amore Christmas';
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  height: 50px;
  width: 180px;
  font-size: 22px;
  color: rgb(233, 32, 49);
  text-shadow: rgb(8, 8, 8) 1px 1px;
  font-weight: 700;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#load-presents:hover {
  scale: 1.1;
}

.change-btn:disabled,
.delete-btn:disabled {
  background: linear-gradient(135deg, #bdbdbd 0%, #cfcfae 100%);
}

.change-btn:disabled:hover,
.delete-btn:disabled:hover {
  box-shadow: none;
  color: #fcfcfc;
}

#gift-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 54px;
}


#presents {
  height: 400px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2em;
}


.gift-box {
  height: 124px;
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  margin-top: 45px;
  width: 90px;
}

#wrapper {
  justify-content: center;
  display: flex;
}

p {
  margin: 0;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 1px;
  font-weight: 700;
  font-family: "Mountains of Christmas", serif;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}


@media screen and (max-width: 1000px) {
  body {  
    overflow: auto;
  }
  form {
    display: flex;
    flex-direction: column;
  }

  #form-section {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 14px 28px rgb(0, 0, 0), 10px 10px 30px rgba(0, 0, 0, 0.22);
    margin-top: -60px;
    background-color: rgba(143, 61, 13, 0.158);
    margin-bottom: 50px;
  }

  #gift-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
  }
}