body>* {
    margin: 15px;
}

div {
    border: 2px solid black;
}

.Uniform {
    padding: 20px;
}

.Non-Uniform {
    padding: 10px 30px 20px 40px;
}

.Percentage {
    padding: 5%;
}