*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --background-color:#fff0e4;
    --prograssBar-color:#2991e6;
    --workDate-Color:#aab8e6;
}


body {
    font-family: "Margarine", sans-serif;
    background-color: var(--background-color);
    line-height: 1.6;

}

.context{
    margin: 12rem 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap:1rem;
}

.context .leftSide{
    padding: 1rem 2rem 3rem 2rem;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

.context .leftSide .name{
    font-weight: 100;
    font-size: 2.5rem;
}

.context .leftSide .information{
    list-style: none;
}

.context .leftSide .information .item{
    padding: 0.75rem 0.5rem;
}

.context .leftSide .information .item .icon{
    color: var(--prograssBar-color);
    margin-right: 1rem;
}

.context .leftSide .skill{
    padding-bottom: 0.5rem;
    font-weight: 100;
    font-size: 1.35rem;;
}

.context .leftSide .progress{
    padding: 0 auto ;
    background-color: var(--prograssBar-color);
    height: 2.2rem;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.context .leftSide .done90{
    width: 90%;
}
.context .leftSide .done80{
    width: 80%;
}
.context .leftSide .done75{
    width: 75%;
}
.context .leftSide .done50{
    width: 50%;
}

.context .rightSide{
    padding: 3rem 3rem 1rem 3rem;
    flex: 1 1 70%;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.context .rightSide .title{
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    align-items: center;
}

.context .rightSide .groupInforamtion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap:1rem;
    padding: 1rem;
}

.context .rightSide .groupInformation .groupWork{
   padding: 2rem 0;
   font-size: 1.45rem;
}

.context .rightSide .groupInformation .groupWork .workTitle{
    padding: 1rem 0;
    font-size: 1.8rem;
    color:gray;
}

.context .rightSide .groupInformation .groupWork .workDate{
    padding: 1rem 0;
    font-weight: bold;
    color: var(--workDate-Color);
}

.context .rightSide .groupInformation .groupWork .workDescription{
    padding: 1rem 0;
    font-weight: 100;
    text-align: justify;
}

.bar{
    width: 100%;
    border-bottom: 1px solid gray;
    border-radius: 15px;
}


